{{ ansible_managed | comment }}

[Unit]
Description       = Prometheus service discovery for dockerd.
After             = network-online.target

[Service]
Type              = simple
Environment       = "GOMAXPROCS={{ ansible_processor_vcpus | default(ansible_processor_count) }}"
EnvironmentFile   = {{ docker_sd_defaults_directory }}/docker-sd

User              = {{ docker_sd_system_user }}
Group             = {{ docker_sd_system_group }}

ExecReload        = /bin/kill -HUP $MAINPID
ExecStart         = /usr/bin/docker-sd $OPTIONS

LimitNOFILE       = 65000
SyslogIdentifier  = docker_sd
Restart           = always

[Install]
WantedBy          = multi-user.target
